alias zshconfig="vi ~/.zshrc"
alias aliasconfig="vi ~/.aliases"
alias tmuxconfig="vim ~/.tmux.conf"
alias vimconfig="vi ~/.vimrc"
alias nvimconfig="nvim ~/.config/nvim/"
alias artisan="php artisan"
alias nah="git reset --hard && git clean -df"
alias pls="sudo"
alias reload="exec $SHELL"
alias untar="tar -xvf"
alias pg="ping google.com"
alias git-stat="git shortlog -s -n --all --no-merges"
alias open="explorer.exe"
alias fd="fdfind"
alias ir-aws-login="/usr/local/bin/awssaml_domain && export AWS_PROFILE=saml"
alias pbcopy="clip.exe"
alias pbpaste="powershell.exe -command 'Get-Clipboard' | sed -e 's/\r\n$//g'"
alias vim="nvim"
alias clock="tty-clock"
alias python="python3"
alias pip="pip3"
alias cls="clear"
alias tmux="tmux -u "

alias ls="ls -lah --color=auto"
alias rmf="/bin/rm"
alias rm="rm -i"
alias mv="mv -i"
alias df="duf"

createdir() {
	mkdir $1 && cd $_
}
gacm() {
	ga $1 && gcmsg $2
} 
git-clean-branch() {
	git branch | grep -v "master\|develop" | xargs git branch -D
}
recreate-db() {
  mysql -uroot -e "drop database $1;create database $1;"
}
function server() {
    local port="${1:-8000}"
    python -m SimpleHTTPServer "$port"
}
function gi() { curl -L -s https://www.gitignore.io/api/$@ ;}
function vimdir() { (cd $1 && vim .) }

if command -v vpncli.exe &> /dev/null
then
    alias vpn="vpncli.exe"
    alias vpnc="vpncli.exe connect vpn.prognosis.com"
fi

